.input {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0a0a23;
    border-radius: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px #fff;
    
}